<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wsg.nightreading">
    <!--bugly-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->



    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!--闪屏页-->
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主页-->
        <activity android:name=".MainActivity"></activity>
        <!--登录页面-->
        <activity android:name=".ui.LoginActivity"
            android:label="@string/text_login"></activity>

        <!--注册页面-->
        <activity android:name=".ui.RegisteredActivity"
            android:label="@string/text_registered"></activity>

        <!--忘记密码页面-->
        <activity android:name=".ui.ForgetPasswordActivity"
            android:label="@string/text_forget_password"/>

        <!--关于页面-->
        <activity android:name=".ui.AboutActivity"
            android:label="@string/app_about"></activity>

        <!--浏览器页面-->
        <activity android:name=".ui.WebViewActivity"></activity>

        <!--分享页面-->
        <activity android:name=".ui.ShareActivity"
            android:label="@string/text_share"></activity>

        <!--捐赠页面-->
        <activity android:name=".ui.DonateActivity"
            android:label="@string/text_donate"></activity>


        <!--QQ登录-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="1106410774" />
            </intent-filter>
        </activity>

        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />

    </application>

</manifest>